# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# # Dependency directories (remove the comment below to include it)
# vendor/

# Config
/config.yaml

tmp

# git ignore generate files related to gRPC and proto
/proton/


!/api/proto/raystack/third_party/
!/api/proto/raystack/third_party/googleapis/
!/api/proto/raystack/third_party/googleapis/*
!/api/proto/raystack/third_party/googleapis/**/*
!/api/proto/raystack/third_party/grpc-gateway/
!/api/proto/raystack/third_party/grpc-gateway/*
!/api/proto/raystack/third_party/grpc-gateway/**/*

/third_party/*
!/third_party/OpenAPI/raystack/guardian/guardian.swagger.json

# guardian
.guardian.yaml
dist/
./guardian

# editor configurations
.vscode
.idea/
