PORT: 3000
ENCRYPTION_SECRET_KEY:
AUTHENTICATED_USER_HEADER_KEY: X-User-Email
LOG:
  LEVEL: info
DB:
  HOST: localhost
  USER:
  PASSWORD:
  NAME:
  PORT: 5432
  SSLMODE: disable
IAM:
  PROVIDER: http
  GET_MANAGERS_URL: http://localhost:3001
NOTIFIER:
  PROVIDER: slack
  ACCESS_TOKEN:
JOBS:
  FETCH_RESOURCES_INTERVAL:
  REVOKE_EXPIRED_ACCESS_INTERVAL:
  EXPIRING_ACCESS_NOTIFICATION_INTERVAL:
