PORT: 3000
ENCRYPTION_SECRET_KEY:
LOG:
  LEVEL: info
DB:
  HOST: localhost
  USER:
  PASSWORD:
  NAME:
  PORT: 5432
  SSLMODE: disable
IAM:
  PROVIDER: http
  GET_MANAGERS_URL: http://localhost:3001
NOTIFIER:
  PROVIDER: slack
  ACCESS_TOKEN:
