name: Build
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Get release tag
      id: get_version
      uses: battila7/get-version-action@v2
    - name: Login to GitHub Packages Docker Registry
      uses: docker/login-action@v1
      with:
        registry: docker.pkg.github.com
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: |
            docker.pkg.github.com/${{ github.repository }}/guardian:latest
            docker.pkg.github.com/${{ github.repository }}/guardian:${{ steps.get_version.outputs.version-without-v }}
    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
